
html {
	scroll-behavior: smooth; /* comportamiento de scrrol suave*/
	box-sizing: border-box;
	font-size: 62.5%; /* 1rem = 10px */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--purple-dark: #170312;
	--purple-medium: #33032d;
    --purple-light: #531253;
    --gray-light: #eaeaea;
    --white: #f4fffd;
}

body {
	font-size: 2rem;
	font-family: 'Open Sans', sans-serif;	
}

p {
	font-size: 2.2rem;
}

/* ------------------------- */
/* Header */
/* ------------------------- */
.contenido-header {
	width: 100%;
	height: 100vh;
	background-image: url(../img/bg-girl.jpeg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.contenido-header .fondo {
	width: 0%;
	height: 100%;
	max-width: 100%;
	background-image: url(../img/bg-top.png);
}

.contenido-header .texto {
	width: calc(100vw - 20px);
	height: 100vh;
	font-size: 9rem;
	font-weight: 400;
	font-family: 'Noto Serif', serif;
	font-style: italic;
	display: flex;
	align-items: center;
	justify-content: center;
	color: purple;
	mix-blend-mode: multiply;
}

.contenido-header .texto .simbol {
	display: none;
}
@media (min-width: 992px){
	.contenido-header .texto .simbol {
		display: inline-block;
	}
}
/* ------------------------- */
/* NAVBAR */
/* ------------------------- */
.menu {
	background-color: var(--purple-medium);
	width: 100%;
	position: sticky;
	top: 0;
	padding: 0.5rem;
	z-index: 999;
	text-align: center;
	display: flex;
	justify-content: center;
	font-family: 'Noto Serif', serif;
	font-style: italic;
	margin-bottom: 6rem;
}

.menu a {
	display: inline-block;
	padding: 1rem 3rem;
	font-size: 2.6rem;
	background-color: var(--purple-medium);
	margin: 0 1rem;
	transition: .5s ease all;
	color: var(--gray-light);
	text-decoration: none;
}

.menu a:hover {
	transform: translateY(1.8rem);
	background-color: var(--purple-light);
}

.menu a.activo {
	background-color: var(--purple-light);
}

/* ------------------------- */
/* Nosotros */
/* ------------------------- */
.nosotros {
	margin-bottom: 6rem;
}

.subtitulo {
	font-size: 2rem;
	color: var(--purple-dark);
	font-family: 'Noto Serif', serif;
	font-weight: 700;
	z-index: 2;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

.subtitulo span {
	background-color: var(--gray-light);
	padding: 0 1.5rem;
	z-index: 99;
	position: relative;
}

.subtitulo::after {
	content: "";
	display: inline-block;
	height: 2px;
	width: 100%;
	background: var(--purple-dark);
	position: relative;
	top: -2.9rem;
	z-index: 1;
}

.nosotros .titulo {
	width: 70%;
	font-size: 4.4rem;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 5rem;
}

.nosotros .enlace {
	display: inline-block;
	margin-top: 4rem;
	color: var(--purple-light);
	font-weight: 700;
	border-bottom: 1px solid transparent;
	transition: .3s ease all;
}

.nosotros .enlace:hover {
	text-decoration: none;
	letter-spacing: 3px;
	border-bottom: 1px solid var(--purple-light);
}

/* ------------------------- */
/* Productos */
/* ------------------------- */
.productos {
	background: var(--gray-light);
	padding: 2rem;
	margin-bottom: 6rem;
}

.productos .titulo {
	width: 70%;
	font-size: 4.4rem;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 5rem;
}

.productos .producto {
	position: relative;
	width: 100%;
}

.productos .overlay {
	width: 0%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--purple-light);
	overflow: hidden;
	transition: .5s ease;
}

.productos .producto:hover .overlay{
	width: 100%;
	opacity: .8;
}

.productos .producto .overlay-texto {
	top: 50%;
	left: 50%;
	position: absolute;
	white-space: nowrap;
	color: var(--white);
	font-size: 1.8rem;
	transform: translate(-50%, -50%);
	overflow: hidden;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.productos .precio {	
	text-align: center;
  	color: var(--purple-medium);
  	margin-bottom: 2rem;
  	font-size: 2.5rem;
  	font-family: 'Noto Serif', serif;
	font-style: italic;
}



.productos .btn-productos {
	background-color: var(--purple-light);
	color: #fff;
	padding: 7px 20px;
	text-transform: uppercase;
	font-size: 1.6rem;
	border: 2px solid transparent;
	transition: .3s ease;
}

.productos .btn-productos:hover {
	background-color: transparent;
	border: 2px solid var(--purple-light);
	color: var(--purple-light);
}

/* ------------------------- */
/* Separador */
/* ------------------------- */
.separador {
	width: 100%;
	height: 250px;
	background-image: url('../img/bg-separator.jpeg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 60px;
}

.separador p {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.4rem;
	font-family: 'Noto Serif', serif;
	padding: 10px;
}

/* ------------------------- */
/* Acerca de */
/* ------------------------- */
.acerca-de {
	margin-bottom: 60px;
}

/* ------------------------- */
/* Galeria */
/* ------------------------- */
.galeria {
	margin-bottom: 60px;
}

.galeria img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.contacto {
	margin-bottom: 60px;
}


.redes-sociales {
	padding: 1rem;
	background-color: var(--purple-light);
	margin-bottom: 0;
}

.redes-sociales img {
	padding: 0.5rem;
	border-radius: 100%;
	width: 5rem;
	transition: .3s ease all;
}

.redes-sociales img:hover {
	transform: scale(1.2);
}

/* ------------------------- */
/* Mediaqueries */
/* ------------------------- */
@media screen and (max-width: 992px) {
	p {
		font-size: 1.8rem;
	}

	.contenido-header .texto {
		font-size: 6rem;
	}

	.menu a {
		font-size: 2rem;
		padding: 10px 10px;
	}

	.nosotros .titulo,
	.productos .titulo {
		font-size: 3rem;
	}

}

.body-product{
	background-image: linear-gradient(to right, #ff4f8b, #dff1ff);
}

.header-product {
	width: 100%;
	height: 100vh;
	background: linear-gradient(#ff4f8b,#818cb9);
}

.logo {
	background-color: rgba(0,0,0, .1);
	padding: 1rem;
	
}
.logo .texto-logo {
	font-size: 4rem;
	font-weight: 400;
	font-family: 'Noto Serif', serif;
	font-style: italic;
	color: rgba(255, 255, 255, .9);
	text-shadow:1px 1px 1px var(--purple-light);
	transition: all .2s ease-in-out
}

.logo .texto-logo:hover {
	cursor: pointer;
	color:#33032d;	
	mix-blend-mode: multiply;
}
.titulo-product {
	font-size: 4rem;
	font-family: 'Dancing Script', cursive;
	margin-bottom: 1rem;
	color: var(--white);
}

.subtitulo-product {
	margin: 0;
	color: var(--purple-dark);
	display: inline;
	font-size: 5rem;
	font-weight: 500;
	text-transform: uppercase;
}

.detalle-product {
	color: var(--white);
	margin: 0.7rem 0;
	font-size: 5rem;
	font-weight: 600;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
	font-family:'Dancing Script', cursive;
	margin-top: 0;
}

.linea-division {
	width: 80%;
	height: 2px;
	background-color: var(--purple-dark);
}

/*Estilos de materialize*/
.carousel {
	min-height: 50rem;
}

.carousel .carousel-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;	
	width: 50rem;
	height: 50rem;
}

.carousel .carousel-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	border-radius: 1.5rem;
}

@media (max-width: 600px){
	.subtitulo-product,.detalle-product{
		font-size: 4rem;
	}
	/* .carousel {
		min-height: 45rem;
	}
	.carousel .carousel-item{
		width: 45rem;
		height: 45rem;
	} */
	/* .carousel .carousel-item img {
		width: 70%;
		height: 70%;
	}  */
}

.carousel .indicators .indicator-item {
	border-radius: 0;
	transform: rotate(45deg);
	margin: 0 1.5rem;
	background: var(--purple-dark);
	z-index: 10;
}

/*Galeria*/

.galeria-product {
	background-image: linear-gradient(135deg, #fdfcfb, #e2d1c3 100%);	
	min-height: 80rem;
}

.galeria-product ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 2rem;
}

.galeria-product ul li {
	list-style: none;
	background-color: var(--purple-medium);
	padding: 1.2rem 2rem;
	margin: .5rem;
	letter-spacing: .1rem;
	color: var(--white);
	font-family: 'Noto Serif', serif;
	font-size: 1.6rem;
	font-style: italic;
	cursor: pointer;
	border-radius: 1.5rem;
	transition: 0.2s ease all;
}
.galeria-product ul li:hover {
	background-color: var(--purple-light);
	color: var(--gray-light);
	transform: scale(1.1);
}

.galeria-product ul li.active{
	background: #ff4f8b;	
}

/* .menu-product {
	position: sticky;
	top: 0;
	z-index: 900;
} */
.galeria-imagenes img{
	box-shadow: 0 0.8rem 1rem -0.4rem rgba(0, 0, 0, 0.6);
	border-radius: 1.5rem;
}

.galeria-imagenes .col {
	margin-bottom: 2rem;	
}


.materialbox-caption {
	
	bottom: 3rem;
	right: 0.1rem;
	width: 40%;
	height: auto;
	padding: 1rem;
	margin: auto;
	background: linear-gradient(to right, rgba(255, 79, 139, 0.7), rgba(223, 241, 255, 0.7) );
	box-shadow: .3rem .3rem rgba(0, 0, 0, 0.6);
	font-size: 2rem;
	font-family: 'Noto Serif', serif;
	color: var(--purple-dark);
	line-height: 2.8rem ;
	border-radius: .5rem;	
}
 @media (max-width: 600px){
		.materialbox-caption {
			width: 90%;
		}
 }
 @media (max-width: 992px){
	.materialbox-caption {
		width: 70%;
	}
}
/* .galeria-imagenes .item-box .ocultar {
	display: none;
}	 */
.footer-producto {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0;
}
#particles-js{
    position: absolute; 
	height: calc(100vh - 8rem);   
    width: 100%; 	 	
}

/* footer productos*/

footer {
	margin-top: 15rem;
    position: relative;
    width: 100%;
    background: #ff4f8b;
	background: #ff0145;
	background: #AF0069;
    min-height: 10rem;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon,
footer .menu-footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu-footer li{
    list-style: none;
}

footer .social_icon li a
{
    font-size: 3rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s ease;
}

footer .social_icon li a:hover{
    transform: translateY(-10px);
}

footer .menu-footer li a
{
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.3s ease all;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu-footer li a:hover
{
    transform: scale(1.1);
    opacity: 1;
}

footer p
{
    color: #fff;
    text-align: center;
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
    font-size: 1.6rem;
    opacity: 0.5;
}

footer .wave
{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1
{
    z-index: 1003;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2
{
    z-index: 1002;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3
{
    z-index: 1001;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4
{
    z-index: 1000;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 2s linear infinite;
}
@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px ;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02
{
    0%
    {
        background-position-x: 0px ;
    }
    100%
    {
        background-position-x: 1000px;
    }
}